*{
font-size: 1.5rem;
 
}

.input-wrapper{
display:flex;
align-items:centre;
justify-content: space-between;
width:500px;
background-color: #e26d5c;
padding:0.5rem;
border-radius: 0.5rem;
color:white;
box-shadow: 0.25rem 0.25rem 0rem #e26d5c;
}

input{
  margin: 0 0.5rem 0 0.5rem; 
  width:100%;
  border:none;
  outline:none;
  background-color: #e26d5c;
  color:white; 

}

::placeholder{
color: #f0b2a8;

}